*{
margin:0px;
padding: 5px;
width: 100%
}

header{
 margin:5px;
 height:25%;
 text-align:center;
 background-color: black;
 color:lightgreen;
}

.web{
 margin-bottom: 5px;
 margin-left: 5px;
 margin-right: 5px;
 height:225px;
 background-color: lightgray;
}
.form{
 float: left;
 width: 50%;
}

#updateDetail{
 float: right;
 width: 50%;
 margin-top: 50px;
 color: red;
}

p{
 height:30px;
 padding:1px;
} 

input{
 height:25px;
}

button{
 height: 35px;
 width: 100px;
 padding:5px;
 margin: 2px;
 background-color: lightgreen;
}

.submit input{
 width: 100px;
 background-color: lightgreen;
 color: black;
 border-color: black;
 height: 40px;
}

table, th , td  {
 border: 1px solid grey;
 border-collapse: collapse;
 padding: 5px;
}

td{
 width: 30%;
}
table tr:nth-child(odd) {
 background-color: #f1f1f1;
}
table tr:nth-child(even) {
 background-color: #ffffff;
}

 .tableHeader{
 text-align: center;
 background-color: lightgreen;
 color: black;

}




