<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>RESTful API</title>
    <link href="css/seu-stylesheet.css" rel="stylesheet"/>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
</head>

<body>
    <h1 align="center">RESTful API Java Enterprise with Angular JS</h1><br><br><br>
    <h2 align="center">Product CRUD</h2><br><br>

    <div ng-app="">
        <p> Product Name:     <input type="text" ng-model="name" ></p>
        <p> Product Quantity: <input type="text" ng-model="name" ></p>
        <p> Product Value:    <input type="text" ng-model="name" ></p>
    </div>
</body>
</html>
